html,
body {
    height: 100%;
    font-family: 'Open Sans';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    overflow: hidden;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

ul.sorter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px; 
}

ul.sorter li {
    float: left;
}

ul.sorter li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.sorter li a:hover {
    background-color: #111;
}

.img32 {
    max-height: 28px;
}

.img64 {
    max-height: 70px;
    max-width: 60px;
}

div#alertas {
    position: fixed;
    top: 2%;
    right: 0;
    z-index: 1;
    width: 600px;
    min-height: 100px;
}

#btn-follow {
    min-width: 125px !important;
}

footer {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    padding: 10px;
    background-color: #d01616;
    border-top: 3px solid black;
    color: white;
    text-shadow: 1px -1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.ui-autocomplete {
    z-index: 1100;
}

/* Estilos de conversaciones */

div.conversation-item {
    margin: 10px;
}

div.list {
    height: 300px;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

div.message-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

div.message-view {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.sender {
    justify-content: flex-end;
}

div.sender img {
    order:1;
}

div.sender p, div.nosender p {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #d01616;
    overflow: visible;
    max-width: 200px;
    word-wrap: break-word;
    position: relative;
}

div.sender p:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(208, 22, 22, 0);
	border-left-color: #d01616;
	border-width: 5px;
	margin-top: -5px;
}

div.nosender p:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(208, 22, 22, 0);
	border-right-color: #d01616;
	border-width: 5px;
	margin-top: -5px;
}

div.conversation-view {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    border: 3px solid black;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 0px 0px black;
    -moz-box-shadow: 4px 4px 0px 0px black;
    box-shadow: 4px 4px 0px 0px black;
}

div.conversation-view div {
    margin-left: 5px;
}

div.conversation-view img {
    margin:10px;
}

/*Estilos de vistar parciales */

.game-side {
    text-align: center;
}
.cover {
    max-height: 250px;
    max-width:250px;
    margin-bottom: 5px;
}

.member-view, .collectionp-view {
    display: flex;
    flex-flow: row;
    margin: 0px;
    margin-top: 7px;
    padding: 6px;
    border-bottom: 1px solid #d01616;
    max-width: 300px;
}

.member-view > div, .collectionp-view > div {
    padding-left: 5px;
}

.group-pview, .notification-view, .collectionp-view {
    padding: 6px;
    border-bottom: 1px solid #d01616;
}

.group-pview:last-of-type, .notification-view:last-of-type, .member-view:last-of-type, .collectionp-view:last-of-type {
    border-bottom: 1px solid transparent;
}

/* Estilos del contador */

#countdown {
    background-color: #383838;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
}

#countdown-abs {
    background-color: #383838;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
    position: relative;
    height: 350px;
}

#countdown-abs > div {
    position: absolute !important;
}

#dia {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 85px;
}

#hora {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:110px;
}

#minuto {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 135px;
}

#segundo {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:160px;
}

/* Estilo de botones del perfil del usuario */
#follows {
    border-bottom: 1px solid #d01616;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*Estilos de vista parcial de review */

.reviewp-view {
    display: flex;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.reviewp-view > div:first-of-type {
    flex-grow: 1;
    padding: 5px;
}

.reviewp-view > div:nth-of-type(2) {
    flex-grow: 15;
}

.reviewp-view > div:nth-of-type(2) > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d01616;
}

.review-form-flex {
    display: flex;
}

.review-form-flex .field-review-content {
    margin-left: 10px;
    flex-grow: 1;
}

.review-form-flex .field-review-score {
    display: flex;
}

/* Estilos de las publicaciones */
.publication-view {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d01616;
}

.publication-view > img {
    margin-right: 15px;
    min-width: 64px;
}

/* Estilos del chat del grupo */
#chat {
    display: flex;
    background-color: #c1c1c1;
    padding: 0px;
    border: 1px solid #878787;
    border-radius: 15px;
}

#messages {
    padding: 15px;
}

#chat-body {
    text-align: center;
    width: 100%;
}

#chat-form {
    border-top: 1px solid #d01616;
    border-bottom-right-radius: 15px;
    padding: 7px 7px 8px 7px;
    background-color: black;
}

#chat-messages {
    height: 511px;
    overflow: auto;
}

#chat-members {
    border-right: 1px solid #d01616;
    padding: 0px;
    height: 601px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

#chat-members > h4 {
    padding-left: 15px;
    background-color: #d01616;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-top-left-radius: 15px;
    color: #ffffff;
    border-bottom: 2px solid black;
    text-shadow: 1px -1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    padding-bottom: 10px;
}

#chat-members-body {
    height: 561px;
    width: 100%;
    overflow-y: auto;
}

#chat-guest {
    margin-top: 20px;
}

#typing {
    height: 40px;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    text-shadow: 1px -1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    background-color: #d01616;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.member-status {
    display: inline-block;
    background-color: #ff0000;
    min-width: 6px;
    min-height: 6px;
    border-radius: 15px;
}

.members-wrapper {
    width: 100%;
}

.member-view {
    display: flex;
    flex-flow: row;
    margin: 0px;
    margin-top: 7px;
    padding: 6px;
    border-bottom: 1px solid #d01616;
    width: 100%;
}

.chat-member-status {
    text-align: center;
    width: 100%;
    margin: 2px;
}

/* Estilos del navbar */

header {
    position: fixed;
    top: 0;
    height:  59px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d01616;
    border-bottom: 3px solid black;
    z-index: 1;
}

header > div {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav > :not(.menu-lateral) *, .messages-brand {
    color: white;
    text-shadow: 1px -1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

nav a:hover > *, nav span:hover > *, .menu-link:hover {
    color: #000000;
    text-shadow: 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

nav > div:nth-of-type(2), .messages-brand {
    font-size: 24px;
    font-family: 'Audiowide';
    padding: 10px;
}

nav > div:nth-of-type(2):hover, .messages-brand:hover {
    animation: reducir 1s infinite ease-in-out;
    animation-direction: alternate;
}
nav > div:nth-of-type(2):hover a, .messages-brand:hover {
    color: #000000;
    text-shadow: 1px -1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

@keyframes reducir {
    from { transform: scale(1, 1); }
    to { transform: scale(0.8, 0.8); }
}

nav > div:nth-of-type(3) > a, nav > div:nth-of-type(3) > span {
    padding-left: 15px;
}

/*.navbar-nav > li:hover {
    box-shadow: inset 0px 5px 0px 0px #000000;
    transition: box-shadow .25s linear;
}*/

.nav-expand {
    position: relative;
    display: inline-block;
}

.nav-dropdown {
    position: absolute;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 150px;
    background-color: #d01616;
    overflow-y: hidden;
    height: 0px;
    opacity: 0;
    transition: all 0.25s linear;
    margin-top: 5px;
}

.nav-dropdown a {
    display: block;
    padding: 10px;
}

.nav-dropdown a:hover {
    background-color: #000000;
    color: #ffffff;
}

.nav-expand:hover .nav-user {
    height: 151px;
}

.nav-expand:hover .nav-manage {
    height: 90px;
}

.nav-expand:hover .nav-dropdown {
    opacity: 1;
}

hr {
    margin: 10px 0px 10px 0px;
}

/* Estilos del campo de búsqueda */

#nav-search-form {
    width: 330px;
    text-align: right;
}

#nav-search-form > form * {
    text-align: left;
}

#nav-search-form > form {
    margin:  0px;
}

#nav-search-form div.input-group-btn {
    width: 38px;
}

#nav-search-form .input-group {
    width: 38px;
    transition: width .5s linear;
}

#nav-search-form .input-group:hover {
    width: 300px;
}

span.twitter-typeahead {
    width: 100%;
}

.form-control.typeahead.tt-input, .form-control.typeahead.tt-hint {
    padding: 6px 0px 6px 0px;
}

.input-group:hover .form-control.typeahead.tt-input, .input-group:hover .form-control.typeahead.tt-hint {
    padding: 6px 12px 6px 12px;
}

.input-group:hover .tt-menu {
    visibility: visible;
}

.tt-dataset .name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

.tt-menu {
    background-color: #ffffff;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #bababa;
    box-shadow: 1px 2px 10px #626262;
    color: #000000 !important;
    text-shadow: none;
    visibility: hidden;
}

.tt-suggestion.tt-selectable {
    margin: 10px 0px 10px 0px;
    padding: 3px;
    padding-left: 15px;
    font-size: 15px;
}

.tt-suggestion.tt-selectable:hover {
    background-color: #3d65da;
    color: #ffffff;
}
.tt-suggestion.tt-selectable:hover a {
    color: #ffffff;
}

.tt-menu {
    max-height: 300px;
    overflow-y: auto;
}

.img-suggestion {
    max-width: 45px;
}

.tt-search-view {
    font-size: 12px;
}

@media (max-width: 1024px) {
    header .fa + span {
        display: none;
    }
}

@media (max-width: 992px) {
    #chat-form {
        border-bottom-left-radius: 15px;
    }

    #typing {
        border-top-left-radius: 15px;
    }
}

@media (max-width: 767px) {
    nav > div:last-of-type {
        display: none;
    }

    #nav-search-form > form {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 530px) {
    nav > div:nth-of-type(2) > a:first-of-type {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #nav-search-form {
        width: 179px;
    }

    #nav-search-form .input-group:hover {
        width: 155px;
    }

    .twitter-typeahead .tt-menu {
        left: auto !important;
        right: -38px !important;
        max-height: 250px;
        overflow-y: auto;
    }
}

@media (min-width: 530px) {
    nav > div:nth-of-type(2) > a:last-of-type {
        display: none;
    }

    .menu-lateral {
        display: none;
    }
}


/**
 * #1673d0
 * #16d073
 */

@media (max-width: 530px) {
    .menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
        -webkit-transition: 250ms all;
        transition: 250ms all;
    }

    .menu-opener {
        cursor: pointer;
        height: 38px;
        width: 38px;
        padding-top: 19px;
    }

    .menu-opener:hover, .menu-opener.active {
        background: #d01616;
    }

    .menu-opener-inner {
        background: #fff;
        height: .5rem;
        margin-left: .75rem;
        width: 2.5rem;
        box-shadow: 0px 0px 0px 1px #000000;
    }

    .menu-opener-inner::before, .menu-opener-inner::after {
        background: white;
        content: '';
        display: block;
        height: .5rem;
        width: 2.5rem;
        box-shadow: 0px 0px 0px 1px #000000;
    }

    .menu-opener-inner::before {
        -webkit-transform: translateY(-0.75rem);
        -ms-transform: translateY(-0.75rem);
        transform: translateY(-0.75rem);
    }

    .menu-opener-inner::after {
        -webkit-transform: translateY(0.25rem);
        -ms-transform: translateY(0.25rem);
        transform: translateY(0.25rem);
    }

    .menu-opener-inner.active {
        background: transparent;
        box-shadow: none;
    }

    .menu-opener-inner.active::before {
        -webkit-transform: translateY(0rem) rotate(-45deg);
        -ms-transform: translateY(0rem) rotate(-45deg);
        transform: translateY(0rem) rotate(-45deg);
    }

    .menu-opener-inner.active::after {
        -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    }

    .menu {
        background: #d01616;
        color: transparent;
        height: auto;
        position: absolute;
        top: 0;
        width: 0px;
        z-index: -1;
        border-bottom: 2px solid black;
        margin-top: 50px;
    }

    .menu.active {
        width: 50%;
    }

    .menu.active .menu-link {
        color: #ffffff;
        text-shadow: 1px -1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    }

    .menu-inner {
        display: block;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-link {
        padding: 10px 0;
        color: transparent;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        font-weight: 100;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    .menu-link li {
        margin: auto;
    }
}
